h1 {
    font-weight: bolder;
    text-size-adjust: x-large;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white; 
    border-style: solid;
    border-color: burlywood;
    background-color:burlywood;
    padding: 10px;
    margin: 10px;
    align-items: stretch; 
    width: 45%;
}

body {
    background-image: url("../images/jade.jpg");
    background-attachment: fixed;
    background-repeat: repeat;
}

main{
    background-color: burlywood;
    color: lavender;
    font-family: 'Times New Roman', Times, serif;
    width: 400px;
    height: 350px;
    padding: 10px;
    margin: 30px;
    font-weight: bold

}

.container {
    flex-direction: column;
    display: flex;
    justify-content: left;

}

#scorecontainer{
background-color: gold;
color: lavender;
font-family: 'Times New Roman', Times, serif;
width: 325px;
height: 175px;
padding:10px;
margin:30px;
font-weight: bold;
}

#winsandlosses {
    background-color:palevioletred;
    color: lavender;
    font-family: 'Times New Roman', Times, serif;
    width: 175px;
    height: 175px;
    padding:10px;
    margin:30px;
    font-weight: bold;
    align-self: stretch;
    display: flex;
    justify-content: flex-end;
    
}

#totalscore {
    background-color: paleturquoise;
    color: gray;
    font-family: 'Times New Roman', Times, serif;
    width: 325px;
    height: 45px;
    padding:10px;
    margin:30px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;  
    text-size-adjust: 28%;
    text-align: left;
}

#scorecontainer2 {
    background-color:blanchedalmond;
    color: lavender;
    font-family: 'Times New Roman', Times, serif;
    width: 325px;
    height: 175px;
    padding:10px;
    margin:30px;
    font-weight: bold;
    text-align: left;
}

#gem1 {
    background-color: white;
    width: 125px;
    height: 125px;
    
}

#gem2 {
    background-color: white;
    width: 125px;
    height: 125px;
    
}

#gem3 {
    background-color: white;
    width: 125px;
    height: 125px;
    
}

#gem4 {
    background-color: white;
    width: 125px;
    height: 125px;
    
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}